$enable-responsive-font-sizes: true;

$dark-shade: #293C4F;
$light-shade: #F8F7F6;
$light-accent: #9CA241;
$identity: #40C2EA;
$dark-accent: #83635D;

$text-muted: $light-accent;
$body-color: $dark-shade;
$light: $light-shade;
$dark: $dark-shade;
$headings-color: $dark-accent;

$headings-font-family: 'Open Sans', sans-serif;
$headings-font-weight: 700;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$font-family-serif: 'Roboto Slab', serif;

$link-color: $dark-accent;
$link-decoration: underline;

$font-size-base: 1.125rem;

$headings-margin-bottom: 1.25rem;
$paragraph-margin-bottom: 1.5rem;
$spacer: 1.125rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 6),
  8: ($spacer * 7),
  9: ($spacer * 8),
);

$border-radius: .45rem;
$border-radius-lg: .5rem;
$border-radius-sm: .3rem;
$blockquote-font-size: $font-size-base;

$code-color: $body-color;
$navbar-brand-font-size: 1rem;
$navbar-nav-link-padding-x: 1.25rem;
$navbar-padding-y: .4rem;
